<!-- === Footer === -->
<hr>
<footer class="py-3">
  <p class="text-center text-gray-400">Copyright &copy; <%= new Date().getFullYear() %> BlogVN. All rights reserved.</p>
</footer>

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/28c0af3030.js" crossorigin="anonymous"></script>
<!-- main css -->
<script src="/main-bundled.js"></script>
</body>
</html>