<!-- === Footer === -->
<hr>
<footer class="py-3">
  <p class="text-center text-gray-400">Copyright &copy; <%= new Date().getFullYear() %> BlogVN. All rights reserved.</p>
</footer>

<!-- === Search ==== -->
<div id="search" class="absolute h-screen w-screen top-0 left-0 bg-black bg-opacity-80 flex flex-col items-center px-4">
  <!-- search box -->
  <div class="mt-52 bg-black p-4 w-full md:w-7/12 h-20 rounded flex relative">
    <!-- close -->
    <div id="search-close" class="absolute top-0 right-0 transform -translate-y-full cursor-pointer">
      <i class="far fa-times-circle text-indigo-400 text-2xl"></i>
    </div>
    <div class="w-full relative">
      <input type="text" placeholder="Looking for a post?" class="p-3 rounded w-full focus:outline-none focus:ring focus:ring-indigo-500">
      <i class="fas fa-search text-2xl absolute top-0 right-0 transform translate-y-1/2 text-indigo-400 pr-6"></i>
    </div>
  </div>
  <!-- result -->
  <div class="mt-10 bg-white w-full md:w-7/12 rounded-md shadow">
    <!-- return result -->
    <div class="bg-indigo-400 p-6 rounded-t-md">
      <h1 class="text-2xl text-white">Search result (3 posts found)</h1>
    </div>
    <div class="p-4">
      <!-- result - 1 -->
      <div>
        <a href="#" class="flex items-center border-fuchsia-600 my-6">
          <div class="mr-3">
            <img src="https://source.unsplash.com/random" alt="avatar" class="w-10 h-10 object-cover rounded-full max-w-none">
          </div>
          <div class="flex items-center">
            <p class="text-xl font-bold mr-3">Lorem Ipsum</p>
            <span>By: Phong (10/21/2021)</span>
          </div>
        </a>
        <hr>
      </div>
      <!-- result - 2 -->
      <div>
        <a href="#" class="flex items-center border-fuchsia-600 my-6">
          <div class="mr-3">
            <img src="https://source.unsplash.com/random/1" alt="avatar" class="w-10 h-10 object-cover rounded-full max-w-none">
          </div>
          <div class="flex items-center">
            <p class="text-xl font-bold mr-3">Voluptatibus Accusantium</p>
            <span>By: Ethan (10/21/2021)</span>
          </div>
        </a>
        <hr>
      </div>
      <!-- result - 3 -->
      <div>
        <a href="#" class="flex items-center border-fuchsia-600 my-6">
          <div class="mr-3">
            <img src="https://source.unsplash.com/random/2" alt="avatar" class="w-10 h-10 object-cover rounded-full max-w-none">
          </div>
          <div class="flex items-center">
            <p class="text-xl font-bold mr-3">Amet Consectetur</p>
            <span>By: Thy (10/21/2021)</span>
          </div>
        </a>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/28c0af3030.js" crossorigin="anonymous"></script>
<!-- main css -->
<script src="/main-bundled.js"></script>
</body>
</html>